In [13]:
from sklearn.feature_extraction.text import HashingVectorizer

# Instantiate HashingVectorizer with custom parameters
hash_vectorizer = HashingVectorizer(
    n_features=10,            # Fixed feature space size (#  [10, 50, 100, 500, 1000])
    alternate_sign=False,     # No sign alternation for features
    dtype='float32',          # Use float32 to save memory
    norm='l2',                # Use L2 normalization
    binary=False              # Count occurrences instead of binary presence (by default true for 0 and 1)
)
s
# Sample documents
documents = [
    "The cat sat on the mat.",
    "The dog sat on the log.",
    "The cat and dog are friends."
]

# Transform the documents into feature vectors
X = hash_vectorizer.transform(documents)

In [14]:
# Convert to an array for better visualization
X_array = X.toarray()
X_array

array([[0.31622776, 0.31622776, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.6324555 , 0.6324555 ],
       [0.35355338, 0.35355338, 0.        , 0.35355338, 0.        ,
        0.        , 0.35355338, 0.        , 0.70710677, 0.        ],
       [0.        , 0.        , 0.        , 0.4082483 , 0.        ,
        0.4082483 , 0.4082483 , 0.4082483 , 0.4082483 , 0.4082483 ]],
      dtype=float32)

In [15]:

# Display the hashed matrix
import pandas as pd
hashed_df = pd.DataFrame(X_array)
hashed_df

,0,1,2,3,4,5,6,7,8,9
0,0.316228,0.316228,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.632456,0.632456
1,0.353553,0.353553,0.0,0.353553,0.0,0.000000,0.353553,0.000000,0.707107,0.000000
2,0.000000,0.000000,0.0,0.408248,0.0,0.408248,0.408248,0.408248,0.408248,0.408248