In [1]:
import pandas as pd
import numpy as np

C:\Users\Noor Saeed\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Noor Saeed\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
df = pd.DataFrame({'text':['money get money','people earn money'], 'label':[0,1]})

In [3]:
df

                text  label
0    money get money      0
1  people earn money      1

# Bi-Gram

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(ngram_range=(2,2))

X = cv.fit_transform(df['text'])

In [7]:
cv.vocabulary_

{'money get': 2, 'get money': 1, 'people earn': 3, 'earn money': 0}

In [6]:
X.toarray()

array([[0, 1, 1, 0],
       [1, 0, 0, 1]], dtype=int64)

# Tri Gram

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(ngram_range=(3,3))

X = cv.fit_transform(df['text'])

In [9]:
X.toarray()

array([[1, 0],
       [0, 1]], dtype=int64)

In [10]:
cv.vocabulary_

{'money get money': 0, 'people earn money': 1}